# 1

In [27]:
# program to display virat score
sampleDict= {
    "country": {
        "Indian Cricket Team":{
            "name":["Rohit","Virat","Rahul","Shami","Bumrah"],
            "Runs":{
                "Rohit":47,
                "Virat":54,
                "Rahul":66
            }
        }
    }
}

In [33]:
virat_runs = sampleDict["country"]["Indian Cricket Team"]["Runs"]["Virat"]
virat_runs

54

# 2

In [34]:
#code for checking 2800 is not present
sampleDict={'a':100,'b':2800, 'c':300}

In [35]:
is_not_present=2800 not in sampleDict.values()
print(is_not_present)

False

# 3

In [1]:
#joining set with list
sample_set={"surya","kapil","msd"}
sample_list=["sachin","siraj","sehwag"]

In [3]:
simple_list=set(sample_list)
simple_list

{'sachin', 'sehwag', 'siraj'}

In [4]:
sample_set.update(simple_list)
sample_set

{'kapil', 'msd', 'sachin', 'sehwag', 'siraj', 'surya'}

# 4

In [11]:
#python program to return new set of identical items
set1={10,20,30,40,50}
set2={30,40,50,60,70}

In [6]:
# identical_items = set(filter(lambda x: x in set2, set1)),another way of printing identical items
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [12]:
#code for joining set of items
joined_set=set1.union(set2)
joined_set

{10, 20, 30, 40, 50, 60, 70}

# 5

In [51]:
#code for printing squares

n=[1,2,3,4,5,6,7]

for number in n:
    print(number ** 2,end=" ")

1 4 9 16 25 36 49

# 6

In [63]:

#program to add 7000 after 6000
list1=[10, 20, [300, 400, [5000,6000], 500], 30, 40]

new_list=list1[2][2]
new_list.append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]